:root {
  --primary-color: #FFC502;
  --secondary-color: #000000;
  --button-disabled: #333333;
  --button-enabled: #000000;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:var(--primary-color);
}

html {
  font-size: 10px;
}

.container {
  max-width: 115rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
